<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="http://www.eid110.cn/gpa/app/appShopInterface/appShopLogin"></add>
    <add key="__ajax" value="true"></add>
    <add key="mobileLogin" value="true"></add>
    <add key="mobileType" value="1"></add>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
